<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>GIS for Disaster Risk Management</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

  <h1>GIS for Disaster Risk Management</h1>
  <h2>Joel Korir</h2>
  <p>Specialist in Geospatial Analysis & Flood Risk Mapping</p>

  <button class="button" onclick="location.href='/flood'">Flood Risk Management</button>

</body>
</html>
